/* Global Styles */
body {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

h1, h2, p {
  color: #333;
  margin: 0;
  font-weight: 300;
}

button {
  background-color: #007aff;
  color: white;
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  width: 200px;
}

button:hover {
  background-color: #005bb5;
  transform: scale(1.05);
}

input {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 100%;
  margin-top: 20px;
}

input:focus {
  border-color: #007aff;
  outline: none;
}

/* Centered Layout */
.name-input {
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.name-input h1 {
  font-size: 31px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #007aff;
}

.name-input h2 {
  font-size: 18px;
  font-weight: 500;
  color: #555;
  margin-bottom: 10px;
}

/* Input and Play button */
.input-section {
  margin-bottom: 35px;
}

/* Match Stats Section */
.match-stats {
  margin-top: 35px;
  text-align: left;
}

.match-stats p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

/* Total Moves */
.total-moves {
  margin-top: 18px;
  text-align: left;
}

.leaderboard {
  margin-top: 35px;
  text-align: left;
}

.leaderboard ul {
  list-style-type: none;
  padding: 0;
}

.leaderboard li {
  font-size: 18px;
  color: green;
  padding: 7px 0;
  border-bottom: 1px solid #ddd;
}

/* STATISTICS Section */
.match-stats h2 {
  font-weight: bold;
  font-size: 28px;
  color: #007aff;
  text-transform: uppercase;
}

.leaderboard h2 {
  font-weight: bold;
  font-size: 28px;
  color: #007aff;
  text-transform: uppercase;
}

.leaderboard li {
  color: green;
  font-size: 18px;
  font-weight: 500;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.turn-message {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}

.game-over {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #d9534f;
  margin-top: 20px;
}

.error {
  text-align: center;
  font-size: 1.5rem;
  color: #f44336;
  margin-top: 20px;
}



